.form {
  display: block grid;
  gap: 0.5rem;

  .dropdown-wrapper {
    position: relative;
    width: 100%;

    & > input[type="text"] {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      transition: 0.2s ease;
    }

    & > input[type="text"]:focus {
      border-color: #0077ff;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
    }
  }
}